#bgRespSaldo{
    font-family: 'Roboto Mono', monospace;
}
h2{
    font-weight: 0;
}

h5{
    text-align: center;
}

.example-full-width {
    width: 100%;
}

.button-row, .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}

.titulo{
    background: #0277BD;
    padding:4px;
    color:white;
    margin: 10px 0;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.fontResult{
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
}
