<div id="bgRespSaldo">
  <h3 style="background:#0277BD;color:white;padding:10px;margin:0;">Saldo Tarjeta BIP</h3>
  <div>
      
    
      <div class="titulo">N° Tarjeta</div>
      <div class="fontResult">{{saldo.numero_tarjeta}}</div>
      <div class="titulo">Saldo</div>
      <div class="fontResult">{{saldo.saldo}}</div>
      <div class="titulo">Estado Contrato</div>
      <div class="fontResult">{{saldo.estado_contrato}}</div>
      <div class="titulo">Fecha de Saldo</div>
      <div class="fontResult">{{saldo.fecha_saldo}}</div>

      
  </div>
</div>