#container-loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    top:0;
    left: 0;
    transition: .3s all;
    z-index: 999999;
    /*display: none;*/
}

#loader{
    width: 82%;
    padding: 4%;
    background: white;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
#loader h3, #loader span{
    padding: 0;
    margin: 0;
}
#loader h3{
    padding: 6px 0;
    margin-bottom: 8px;
}

#padre{
    display: table;
    padding:10px 0;
}
#container-spinner{
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}