<div id="container-loader" *ngIf="isLoading" [@enterAnimation]>
  
      <div id="loader" >
          <h3>{{title}}</h3>
          <div id="padre">
              <mat-progress-spinner mode="indeterminate" [diameter]="40" style="float:left;"></mat-progress-spinner>
              <div id="container-spinner">
                  {{msg}}
              </div>
          </div>
          <div style="clear:both;"></div>
      </div>
  
  </div>