<div id="bgBuses">
  <mat-card>
    <h5>CONSULTAR PRÓXIMOS BUSES</h5>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ingresa el código del paradero" [(ngModel)]="codigo_paradero" name="codigo_paradero">
    </mat-form-field>

    <div class="row">
      <mat-checkbox [(ngModel)]="is_favorito" name="is_favorito">AGREGAR PARADERO A FAVORITOS</mat-checkbox>
    </div>

    <div class="row">
      <button mat-raised-button color="primary" (click)="consultarParadero(codigo_paradero)">CONSULTAR</button>
    </div>
  
  </mat-card>

  <mat-card>
    <h5>MIS PARADEROS FAVORITOS</h5>

    <div *ngIf="cargando">
      <mat-progress-spinner mode="indeterminate" [diameter]="50" style="margin:0 auto;"></mat-progress-spinner>
    </div>

    <div *ngIf="paraderos.length">
      <div class="miParadero" *ngFor="let p of paraderos">
        <span>{{p.codigo}}</span>
        <span>
          <button mat-icon-button color="accent" (click)="consultarParadero(p.codigo)">
            <mat-icon>info</mat-icon> 
          </button>
          <button mat-icon-button color="accent" (click)="eliminarParadero(p)">
              <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <div *ngIf="!paraderos.length && !cargando">
      <h5 class="msgError">No tienes paraderos favoritos</h5>
    </div>
  </mat-card>
</div>