#bgRegistro{
    font-family: 'Roboto Mono', monospace;
}
h2{
    font-weight: 0;
}

.example-full-width {
    width: 100%;
}

.button-row, .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}