<div id="bgRegistro">
    <h3 style="background:#0277BD;color:white;padding:10px;margin:0;">Registro</h3>
    <div style="padding:20px;">
        <form>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Ingresa tu nombre completo" [(ngModel)]="nombre" name="nombre">
              </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ingresa tu email" [(ngModel)]="email" name="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ingresa tu contraseña" type="password" [(ngModel)]="pass1" name="pass1">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirma tu contraseña" type="password" [(ngModel)]="pass2" name="pass2">
              </mat-form-field>

            <div class="button-row">
                
                <button mat-button color="primary" (click)="registrar()">REGISTRARME</button>
              </div>
  
          </form>
    </div>
</div>