<div id="bgBIP">
  <mat-card>
    <h5>CONSULTAR SALDO BIP</h5>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ingresa el código de la tarjeta" [(ngModel)]="codigo_tarjeta" name="codigo_tarjeta">
    </mat-form-field>

    <div class="row">
      <mat-checkbox [(ngModel)]="is_favorito" name="is_favorito">AGREGAR TARJETA A FAVORITOS</mat-checkbox>
    </div>

    <div class="row">
      <button mat-raised-button color="primary" (click)="consultarBip(codigo_tarjeta)">CONSULTAR</button>
    </div>
  
  </mat-card>

  <mat-card>
    <h5>MIS TARJETAS BIP FAVORITAS</h5>

    <div *ngIf="cargando">
      <mat-progress-spinner mode="indeterminate" [diameter]="50" style="margin:0 auto;"></mat-progress-spinner>
    </div>

    <div *ngIf="tarjetas.length">
      <div class="miTarjeta" *ngFor="let t of tarjetas">
        <span>{{t.codigo}}</span>
        <span>
          <button mat-icon-button color="accent" (click)="consultarBip(t.codigo)">
            <mat-icon>info</mat-icon> 
          </button>
          <button mat-icon-button color="accent" (click)="eliminarTarjeta(t)">
              <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <div *ngIf="!tarjetas.length && !cargando">
      <h5 class="msgError">No tienes tarjetas bip favoritas</h5>
    </div>
  </mat-card>
</div>