#bgBIP{
    height: 100%;
    padding: 0 3% ;
    overflow-y: scroll;
    background: linear-gradient(0deg, rgba(2,119,189,1) 0%, rgba(0,216,227,1) 100%); /* w3c */ 

}
.example-full-width{
    width: 100%;
}

h5{
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}
mat-card{
    margin: 10px 0;
}

.miTarjeta{
    padding:4%;
    border-radius: 2px;
    background: rgba(0,0,0,0.1);
    margin-bottom: 5px;
    line-height: 30px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    margin: 15px 0;
}