<div id="bgRespBuses">
  <h3 style="background:#0277BD;color:white;padding:10px;margin:0;">Paradero {{paradero.id}} | {{paradero.horaConsulta}}</h3>
  <div>
      <h5>{{paradero.descripcion}}</h5>

      <div *ngIf="servicios.length">
        <div *ngFor="let s of servicios">
          <div class="tituloServicio">{{s.servicio}}</div>
          <div *ngIf="s.valido == 1">
            <div *ngIf="s.recorridos.length">
              <div class="row fontResult" *ngFor="let r of s.recorridos">
                <span>{{r.patente}} | {{r.tiempo}}</span>
                <span>{{r.distancia}}</span>
              </div>
            </div>
          </div>
          <div class="fontResult" *ngIf="s.valido == 0">
            {{s.descripcionError}}
          </div>
        </div>
      </div>
  </div>
</div>