<div id="bgFiscalizadores">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
    [zoomControl]="false" (mapClick)="mapClicked($event)">
        <agm-marker *ngFor="let f of fiscalizadores; let i = index" iconUrl="assets/images/marker_big.png" (markerClick)="clickedMarker(f)" [latitude]="f.latitud" [longitude]="f.longitud">
            <agm-info-window>
                {{f.descripcion}}
              </agm-info-window>
        </agm-marker>
      </agm-map>

      <button class="fabButton" mat-fab (click)="refrescar()">
        <mat-icon>refresh</mat-icon>
      </button>
</div>