#bgRespBuses{
    font-family: 'Roboto Mono', monospace;
}
h2{
    font-weight: 0;
}

h5{
    text-align: center;
    margin: 8px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.example-full-width {
    width: 100%;
}

.button-row, .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}

.tituloServicio{
    background: #0277BD;
    padding:4px;
    color:white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.fontResult{
    font-size: 0.8em;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 22px;
    font-weight: bold;
}
