<div id="bgRespBuses">
  <h3 style="background:#0277BD;color:white;padding:10px;margin:0;">Fiscalización!</h3>
  <div >
      <h5>Dirección:</h5>
      <div class="fontResult">
        {{fiscalizacion.direccion}}
      </div>

      <h5>Fecha:</h5>
      <div class="fontResult">
        {{fiscalizacion.fecha_completa}}
      </div>

      <h5>Descripción:</h5>
      <div class="fontResult">
        {{fiscalizacion.descripcion}}
      </div>

      <h5>Publicado por:</h5>
      <div class="fontResult">
        {{fiscalizacion.nombre_usuario}}
      </div>

      <div class="row" style="margin-bottom:30px;">
        <span>
          <span class="row">
            <button mat-mini-fab color="primary" (click)="like(fiscalizacion.id)">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <span style="margin-left:12px;">{{fiscalizacion.likes}}</span>
          </span>
        </span>
        <span>
          <span class="row">
            <button mat-mini-fab (click)="dislike(fiscalizacion.id)">
              <mat-icon>thumb_down</mat-icon>
            </button>
            <span style="margin-left:12px;">{{fiscalizacion.dislikes}}</span>
          </span>
        </span>
      </div>

      <div class="row" *ngIf="fiscalizacion.usuario == storageService.getIdUsuario()" (click)="eliminar()">
        <button mat-button color="warn">Eliminar el punto</button>
      </div>

  </div>
</div>