<div id="bgAgregarFiscalizador">
  <h3 style="background:#0277BD;color:white;padding:10px;margin:0;">Agregar Fiscalización</h3>
  <div style="padding:10px;">
      <h5>Fiscalización dirección:</h5>
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="direccion" name="direccion">
          <mat-option value="Hacia el Norte">Hacia el Norte</mat-option>
          <mat-option value="Hacia el Oriente">Hacia el Oriente</mat-option>
          <mat-option value="Hacia el Sur">Hacia el Sur</mat-option>
          <mat-option value="Hacia el Poniente">Hacia el Poniente</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Ingresa una pequeña descripción" [(ngModel)]="descripcion" name="descripcion"></textarea>
      </mat-form-field>

      <div class="row">
        <button mat-button color="primary" (click)="agregar()">AGREGAR</button>
      </div>
      


  </div>
</div>