#bgMain{
    position: relative;
    width:100%; 
    height:100%;
    background:url('/assets/images/bg_nmb1.png'),#0277BD;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: .9em;
    text-transform: uppercase;
}
#absMain{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#cardLogin{
    display: none;
    padding: 5%;
}

.example-full-width {
    width: 100%;
}

.button-row, .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}

