<div id="bgMain">
  <div id="absMain">
      <img src="assets/images/logo.png" class="img-responsive" alt="" id="img1">
      <div id="progressBar">
          <mat-progress-spinner mode="indeterminate" [diameter]="50" style="margin:0 auto;"></mat-progress-spinner>
      </div>
      <div id="cardLogin">
          <mat-card>
              <form>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ingresa tu email" [(ngModel)]="email" name="email">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ingresa tu contraseña" type="password" [(ngModel)]="pass" name="pass">
                </mat-form-field>
  
                <div class="row">
                    <mat-checkbox [(ngModel)]="recordar" name="recordar" #mycheck (change)="recordarDatos(mycheck)">Recordar email y contraseña</mat-checkbox>
                </div>
                
                <div class="button-row">
                    
                    <button mat-button color="primary" (click)="btnIngreso()">INGRESAR</button>
                    <button mat-button color="primary" (click)="btnRegistro()">REGISTRARME</button>
  
                  </div>
      
              </form>
          </mat-card>
      </div>
  

    
  </div>
</div>