.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    width:100%;
  }
  
  .example-sidenav {
    width: 70%;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

.active{
  background:rgba(0,0,0,0.2);
}

.iconPanel{
  opacity: 0.3;
  margin-right: 8px;
}