<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav">
      <img src="assets/images/bg_panel.png" style="width:100%;" alt="">
      <mat-list>
        <mat-list-item routerLink="fiscalizadores" routerLinkActive="active" (click)="cerrarSideNav(sidenav)"><mat-icon class="iconPanel">map</mat-icon> Fiscalizadores</mat-list-item>
        <mat-list-item routerLink="bip" routerLinkActive="active" (click)="cerrarSideNav(sidenav)"><mat-icon class="iconPanel">local_atm</mat-icon> Tarjeta BIP</mat-list-item>
        <mat-list-item routerLink="buses" routerLinkActive="active" (click)="cerrarSideNav(sidenav)"><mat-icon class="iconPanel">directions_bus</mat-icon> Próximos Buses</mat-list-item>
        <mat-list-item routerLink="configuracion" routerLinkActive="active" (click)="cerrarSideNav(sidenav)"><mat-icon class="iconPanel">settings</mat-icon> Configuración</mat-list-item>
        <mat-list-item (click)="logout()"><mat-icon class="iconPanel">exit_to_app</mat-icon> Salir</mat-list-item>
      </mat-list>
    </mat-sidenav>
  
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon class="example-icon" (click)="sidenav.opened ? sidenav.close() : sidenav.open()">menu</mat-icon>
          <span>Panel</span>
          
          
        </mat-toolbar-row>
    </mat-toolbar>
  
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-sidenav-container>

  
  
  